* {
  font-family: Helvetica, Arial, sans-serif;
  color: #4B4B4B;
  line-height: 1.5em;
}

body {
  background-color: #FAFAFA;
}

a { 
  color: #1F71AC;
}

h1, h2, h3 {
  color: #064572;
}

p {
  color: #7F7F7F;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px 0px;
  margin: 5px 0px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0px;
  font-size: 1em;
}

h3 {
  font-weight: normal;
}

.profile {
  text-align: center;
  margin-top: 50px;
}

.profile img {
  width: 75%;
  margin-bottom: 20px;
}

.portfolio-container {
  background-color: #fff;
  padding: 30px 0px;
}

.portfolio-card {
  text-align: center;
  padding: 10px;
}

.portfolio-card img {
  width: 100%;
}

.contact-container {
  padding: 30px 0px 50px 0px;
  text-align: center;
}

.contact-info {
  display: block;
  font-weight: bold;
  margin-bottom: -20px;
  color: #064572;
}

.contact-info h3 {
  display: inline-block;
  font-size: 1em;
  margin-right: 15px;
}

footer {
  width: 95%;
  margin: 0px auto;
  padding: 15px 0px;
  border-top: solid 2px #064572;
  font-weight: bold;
  color: #064572;
}

footer a {
  float: right;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
}

.skills-container {
  text-align: center;
}

.skills-container ul {
	list-style-type: none;
	padding: 0px;
}

.skills-container li {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px 0px;
  margin: 5px 0px;
}

.normal-nav-link {
  display: none;
}

/** Styles for tablet display **/
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
  	text-align: center;
  }

  nav a {
    display: inline-block;
    background-color: #fafafa;
    padding: 0px 15px;
    font-size: 0.9em;
  }

  .profile {
  	overflow: auto;
  	font-size: 1.25em;
  	text-align: left;
  }

  .profile img {
  	width: 285px;
  	float: right;
  	margin-left: 10px;
  }

  .portfolio-card {
  	display: inline-block;
  	vertical-align: top;
  	width: 45%;
  	margin-bottom: 30px;
  }

  .portfolio-card p {
  	margin: 0px 30px;
  }

  .portfolio-container {
  	overflow: auto;
  }

  .contact-container p {
  	font-size: 1.3em;
  }

  .mobile-nav-link {
  	display: none;
  }

  .normal-nav-link {
  	display: inline-block;
  	margin-left: 20px;
  }

  .skills-container li {
    display: inline-block;
    width: 45%;
    margin: 5px 5px;
  }
}

/** Styles for desktop display **/
@media (min-width: 1024px) {
  h1 {
  	float: left;
  	padding: 0px;
  	margin: 50px 0 30px 20px;
  	font-size: 1.5em;
  }

  nav {
  	margin: 50px 20px 30px 0;
  	float: right;
  }

  nav a {
    display: inline-block;
    background-color: #fafafa;
    padding: 0px 15px;
    font-size: 0.9em;
  }

  .profile {
  	padding: 0px 20px;
  	clear: both;
  	overflow: auto;
  	font-size: 1.25em;
  	text-align: left;
  }

  .profile p {
  	margin-top: 0px;
  }

  .profile img {
  	width: 285px;
  	float: right;
  	margin-left: 50px;
  }

  .portfolio-card {
  	display: inline-block;
  	vertical-align: top;
  	width: 30%;
  	margin-bottom: 30px;
  }

  .portfolio-card p {
  	margin: 0px 30px;
  }

  .portfolio-container {
  	overflow: auto;
  }

  .contact-container p {
  	font-size: 1.3em;
  	max-width: 600px;
  	margin: 10px auto;
  }

  .mobile-nav-link {
  	display: none;
  }

  .normal-nav-link {
  	display: inline-block;
  	margin-left: 20px;
  }

  .skills-container li {
    display: inline-block;
    width: 30%;
    margin: 5px 5px;
  }
}